# Ignore all 'pdfs/' directories anywhere in these folders / project
**/pdfs/

# Specific top-level paths for the requested directories:
/AMVI/pdfs/
/endowments/pdfs/
/eng-reporters/pdfs/
/factories/pdfs/
/forest/**/pdfs/
/g1/pdfs/
/g2/pdfs/
/industry-promotion/pdfs/
/pcb-ae/pdfs/
/posts.pdf

